@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.4/spectre.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.4/spectre-icons.min.css");
@import url("https://use.fontawesome.com/68715f2a05.css");
* {
  box-sizing: border-box;
}

body {
  width: 250px;
}

.fa {
  margin: auto;
  position: static;
  display: block;
}
.fa.fa-2 {
  font-size: 2em;
  padding: 5px;
  cursor: pointer;
}
.fa-reddit-square {
  color: #ff4500;
}
.fa-twitter-square {
  color: #1da1f2;
}
.fa-vert {
  height: 1.2em;
  margin-bottom: -8px;
}

.columns {
  padding-bottom: 5px;
}

.divider--vert {
  border-top-color: #6faa5d;
}

.btn--vert {
  border-color: #6faa5d;
  background: #fff;
  color: #6faa5d;
}
.btn--vert:focus, .btn--vert:hover {
  background: #639c52;
  border-color: #5d924c;
  color: #fff;
}
.btn--vert:active, .btn--vert.active {
  background: #5f954e;
  border-color: #588b49;
  color: #fff;
}