* {
  box-sizing: border-box;
}

body {
  width: 250px;
  min-height: 200px;
}

.container {
  text-align: center;
}

.row {
  min-height: 20px;
  padding: 5px;
}

.row--icons {
  border-top: 1px #6faa5d solid;
}

.price {
  max-width: 75%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn {
  border: 1px gray solid;
  cursor: pointer;
  min-width: 20px;
  border-radius: 25%;
  padding-top: 2px;
  background-color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fa {
  background-color: white;
}

.fa.fa-2 {
  font-size: 2em;
  padding: 5px;
  cursor: pointer;
}

.fa-reddit-square {
  color: #ff4500;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-vertcoin {
  height: 1.2em;
  margin-bottom: -8px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
